$MAX_WIDTH: 1200px;
$MIN_WIDTH: 300px;
$LIGHT_GRAY: rgb(243, 243, 243);
$BORDER_BOTTOM: 1px solid rgba(0, 0, 0, 0.12);
$BORDER_COLOR: 1px solid rgba(0, 0, 0, 0.12);
$BACKGROUND_GRAY: #f4f7f6;
$PHANTOM: #741eec;
